.full-width {
    width: 60%;
  }

  .linea-validacion {
    height: 3px;
    width: 100%;
    margin-top: -16px;
    margin-bottom: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .linea-verde {
    background-color: #4caf50; /* verde */
    height: 5px;
  }
  
  .linea-roja {
    background-color: #f44336; /* rojo */
    height: 5px;
  }
  