
<div fxLayout="row" fxLayoutAlign="center"style="margin-top: 20px;">
    <h2>Cambiar Contraseña</h2>
  </div>

  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" style="margin: 20px;align-items: center;">
    <div fxLayout="column"  fxLayoutAlign="center center" fxLayoutGap="20px">
  
      <!-- Campo: Usuario -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="username" readonly>
      </mat-form-field>
  
      <!-- Campo: Nueva contraseña -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nueva contraseña (min. 8 caracteres)</mat-label>
        <input matInput type="password" formControlName="newPassword" required required minlength="8">
        <mat-error *ngIf="passwordForm.get('newPassword')?.hasError('required')">
          Este campo es obligatorio
        </mat-error>
      </mat-form-field>
  <!-- Campo: Confirmar contraseña -->
<mat-form-field appearance="outline" class="full-width">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput
           type="password"
           formControlName="confirmPassword"
           required
           minlength="8"
           (input)="verificarCoincidencia()">
    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('required')">
      Este campo es obligatorio
    </mat-error>
    <mat-error *ngIf="passwordForm.get('confirmPassword')?.hasError('minlength')">
      Mínimo 8 caracteres
    </mat-error>
    <mat-error *ngIf="!matchpassword && passwordForm.get('confirmPassword')?.touched">
      Las contraseñas no coinciden
    </mat-error>
  </mat-form-field>
  
 <!-- Mensaje dinámico encima de la línea -->
<div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.value"
[ngClass]="{
  'mensaje-verde': matchpassword,
  'mensaje-rojo': !matchpassword
}"
class="mensaje-validacion">
{{ matchpassword ? 'Contraseñas correctas' : 'Las Contraseñas no coinciden' }}
</div>

<!-- Línea de color -->
<div [ngClass]="{
 'linea-verde': matchpassword && passwordForm.get('confirmPassword')?.value,
 'linea-roja': !matchpassword && passwordForm.get('confirmPassword')?.touched
}"
class="linea-validacion">
</div>

 
      <!-- Botones -->
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" type="submit" [disabled]="passwordForm.invalid">Cambiar</button>
        <!-- <button mat-button type="button" (click)="onCancel()" style="margin-left: 10px;">Salir</button> -->
      </div>
  
    </div>
  </form>
  