<mat-dialog-content style="max-height: 90vh; overflow-y: auto;
  border: 1px solid #014df1;border-radius: 5px;
  box-shadow: 0 0 60px 0 #1659be;background-color: rgb(4, 43, 13);">
  <mat-card class="custom-card" style="margin-top: 10px;
 box-shadow: 0 0 60px 0 #163dbe;
  border: 1px solid rgb(3, 5, 134); background-color: rgb(247, 238, 238);">
    <mat-card-header style="display: flex; justify-content: center;">
      <mat-card-title class="custom-card-title">REGISTRAR NUEVO USUARIO</mat-card-title>
    </mat-card-header>

    <div fxLayout="column" fxFlex="100" style="margin-left: 15px;">
      <mat-card-content fxLayout="column" fxFlex="100">

        <div fxLayout="row" fxFlex="33.3">
          <div fxLayout="column" fxFlex="22" style="padding-right: 20px;">
            <mat-form-field class="example-full-width">
              <mat-label style=" font-weight: bold;">N° DNI</mat-label>
              <input matInput type="text" placeholder="DNI" [(ngModel)]="dni" required
              maxlength="8"
                />
            </mat-form-field>
          </div>

          <!-- <div fxLayout="column" fxFlex="22" style="padding-right: 20px;">
            <mat-form-field class="example-full-width">
              <mat-label style=" font-weight: bold;">N° DNI</mat-label>
              <input matInput type="text" placeholder="CIP" [(ngModel)]="cip" required
                (keypress)="validarNumero($event)" (input)="validarLongitud()" maxlength="9"
                (keydown.enter)="getbyCip(cip)" />
            </mat-form-field>
          </div> -->
          <div fxLayout="column" fxFlex="27" style="padding-right: 20px;">
            <mat-form-field class="example-full-width">
              <mat-label style="font-weight: bold;">USUARIO</mat-label>
              <input matInput type="text"  [(ngModel)]="usernamereg" maxlength="60" required />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxFlex="33.3">


          <div fxLayout="column" fxFlex="54" style="padding-right: 10px;">
            <mat-form-field class="example-full-width">
              <mat-label style=" font-weight: bold;">APELLIDOS Y NOMBRES</mat-label>
              <input matInput type="text" required  [(ngModel)]="fullname" />
            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="25" style="padding-right: 20px;">
            <mat-form-field class="example-full-width">
              <mat-label style=" font-weight: bold;">TELEFONO</mat-label>
              <input matInput type="text" required  [(ngModel)]="telefono" />
            </mat-form-field>
          </div>


      </div>

        <!-- <div fxLayout="row" fxFlex="33.3">
          <div fxLayout="column" fxFlex="33" style="padding-right: 10px;">
            <mat-form-field>
              <mat-label>NUCLEO</mat-label>
              <input matInput type="text" required readonly [(ngModel)]="nucleouser" />
            </mat-form-field>
          </div>

          <div fxLayout="column" fxFlex="33" style="padding-right: 10px;">
            <mat-form-field>
              <mat-label>GRAN UNIDAD </mat-label>
              <input matInput type="text" required readonly [(ngModel)]="brigadauser" />

            </mat-form-field>
          </div>
          <div fxLayout="column" fxFlex="33" style="padding-right: 10px;">
            <mat-form-field>
              <mat-label>UNIDAD</mat-label>
              <input matInput type="text" required readonly [(ngModel)]="unidaduser" />
            </mat-form-field>
          </div>
        </div> -->

        <div fxLayout="row" fxFlex="33.3">
          <div fxLayout="column" fxFlex="33" style="padding-right: 10px;">
            <mat-form-field>
              <mat-label>ROL</mat-label>
              <mat-select name="roles" [(ngModel)]="nivel" >
                <mat-option value="1">ADMINISTRADOR</mat-option>
                <mat-option value="2">USER-SYSTEM </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxLayout="column" fxFlex="50" style="padding-right: 10px;">
            <!-- <mat-form-field>
              <mat-label>CATEGORIA</mat-label>
              <mat-select name="roles" [(ngModel)]="selectedcategoria" >
                <mat-option *ngFor="let roles of categorialist" [value]="roles.id"> ({{roles.idUnico}}   ): {{ roles.nombre  }}</mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>

        </div>
        <div fxLayout="row" style="padding-right: 10px; padding-top: 15px; padding-left: 60%;">

          <button class="blue-button mat-raised-button" fxFlex="70%" style="height: 40px; " (click)="limpiarCampo()
                  ">Limpiar</button>
          <button class="green-button mat-raised-button" fxFlex="70%" style="height: 40px;" [disabled]="!camposLlenos()"
            (click)="crearUsuario()">Guardar</button>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</mat-dialog-content>
