
<mat-card class="contenedor-principal">
  <!-- <h2 class="titulo-cursos">Mis Cursos</h2> -->

  <div class="cursos-grid">
    <div class="curso-item" *ngFor="let item of cursos">
      <mat-card class="curso-card">
        <h2 class="titulo-cursos-interno">BANCO DE PREGUNTAS</h2>

        <mat-card-header>
          <mat-card-title>{{ item.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ item.description }}</p>
        </mat-card-content>

        <div class="boton-examen-wrapper">
          <button mat-button class="acc" (click)="matricularme()">MATRICULARME</button>
        </div>
      </mat-card>
    </div>
    
  </div>
</mat-card>










<!-- <div fxLayout="column"
    style=" align-items: center; height: 100vh; background-color: rgba(255, 255, 255, 0); background-size: cover; background-repeat: no-repeat;">



<h2>hola</h2>




</div> -->
