
<div fxLayout="column"
    style="display: flex;  align-items: center; height: 100vh;  background-color:rgb(11, 114, 161) ; background-size: cover;">
    <mat-card class="custom-card" style="margin-top: 10px;">
        <mat-card-header style="display: flex; justify-content: center;">
            <mat-card-title class="custom-card-title">REGISTRO DE CURSOS</mat-card-title>
        </mat-card-header>
        <br>
        <!-- <br> -->
        <div class="mat-elevation-z8" class="mat-elevation-z8 demo-table">
            <div fxLayout="row">
                <div class="container" fxLayout="column" fxFlex="26" style="margin-left: 10px;">
                    <mat-form-field appearance="outline" class="custom-search-width">
                        <mat-label class="buscar">Buscador dinámico:</mat-label>
                        <mat-icon class="buscar" matSuffix>search</mat-icon>
                        <input matInput (keyup)="dinamicSearch($event)"
                        [(ngModel)]="buscador"
                        (input)="convertirAMayusculas()"
                         placeholder="Ingrese palabra clave" #input>
                      </mat-form-field>
                </div>
                <span class="example-spacer"></span>


              <!-- <div class="container" fxLayout="column" fxFlex="15">
                <button id ="icono"class="blue-buttonreporte" (click)="openReporte()"
                    fxFlex="100%">   <mat-icon>picture_as_pdf</mat-icon>Reporte</button>
            </div> -->
<!--
                <div class="container" fxLayout="column" fxFlex="15">
                    <button class="green-button mat-raised-button custom-button" (click)="refreshTable()"
                        fxFlex="100%">Actualizar</button>
                </div>
 -->
                <div class="container" fxLayout="column" fxFlex="15" style="margin-right: 10px;">
                    <button id ="icono"class="blue-button mat-raised-button custom-b870371utton" (click)="openRegistrarModal(0)"
                        fxFlex="100%">   <mat-icon>person_add</mat-icon>Nuevo Curso</button>
                </div>
                <br>
            </div>
            <br>
            <!-- <br> -->
            <table mat-table [dataSource]="dataSource" matSort>
              <!--quitar-->
              <ng-container matColumnDef="n">
                    <th class="t" mat-header-cell *matHeaderCellDef mat-sort-header> N° </th>
                    <!-- <td class="ta" mat-cell *matCellDef="let row"> {{row.idUser}} </td> -->
                    <td mat-cell *matCellDef="let i = index">{{ paginator.pageIndex * paginator.pageSize + i + 1 }}</td>
                </ng-container>
            
                <ng-container matColumnDef="id">
                    <th class="t"  mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td class="ta" mat-cell *matCellDef="let row"> {{row.idCurso}} </td>
                </ng-container>
         
                <ng-container matColumnDef="name">
                    <th class="t"  mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
                    <td class="ta" mat-cell *matCellDef="let row"> {{row.name}} </td>
                </ng-container>

                <ng-container matColumnDef="des">
                    <th class="t"  mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
                    <td class="ta" mat-cell *matCellDef="let row"> {{row.description}} </td>
                </ng-container>

                <!-- LastName Column -->
                <!-- <ng-container matColumnDef="cargo">
                    <th class="t"  mat-header-cell *matHeaderCellDef mat-sort-header> CARGO </th>
                    <td class="ta" mat-cell *matCellDef="let row"> {{row.cargo}} </td>
                </ng-container> -->

                <ng-container matColumnDef="estado">
                    <th class="t"  mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO </th>
                    <td class="ta" mat-cell *matCellDef="let row" [class.estado-activo]="row.estado === 1">
                        <span *ngIf="row.estado === 1" style="font-weight: bold;">ACTIVO</span>
                        <span *ngIf="row.estado === 2" class="estado-desactivado"
                            style="font-weight: bold;">DESACTIVADO</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th class="t"  mat-header-cell *matHeaderCellDef> EDITAR </th>
                    <td class="ta" mat-cell *matCellDef="let row">
                        <button mat-button color="primary"    (click)="openRegistrarModal(row.idCurso)">

                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th class="t"  mat-header-cell *matHeaderCellDef> ELIMINAR </th>
                    <td class="ta"  mat-cell *matCellDef="let row">
                        <button mat-button color="accent" (click)=" eliminar(row.idCurso)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro. "{{input.value}}"</td>
                </tr>
            </table>
            <mat-paginator [pageSizeOptions]="[15, 20,50,100]" [length]="totalElements" (page)="showMore($event)"
                aria-label="Seleccionar página de usuarios"></mat-paginator>
        </div>

    </mat-card>

</div>


